

html {
  font-size: 17px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  text-decoration: underline;
  font-weight: bold;
  text-align: left;

}

.column {
  margin: 0 auto;
  width: 210px;
}
.column label{
  display: flex;
  justify-content: left;
  float: left;
}
.column input{  
  display: flex;
  justify-content: right;
  float: right;
}

.back {
  display: flex;
  align-items: center;
  justify-content: left;
}
